
.main-div{


 
   
    width: 96rem;
    margin-left: -10px;
}
.main-head{

    text-align: center;
    color: #473C33;
    background-color: #FFFBEB;
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Proza Libre', sans-serif;
}
.des{

    border: 100px black;
}
.row-content{

    text-align: center;
    background:#E6E5A3;
    border: 100px black;
    width:50rem;
    border-radius: 2rem;
    height:500px;
    width:80rem;
    padding-top: 28px;
    
}
ul{

    list-style: none;
}
.pad{

    padding-left: 10rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
    
}
.end{

    background-color:#A0C3D2;
    border-radius: 5px;
    padding-top: 1rem;
}